<% console.log(score); %>
<div id='main-over'>
	<div id='over-bg'></div>
	<div id='over-content'>
		<div id='title'>GAME OVER</div>
		<div id='final-score'><%= score %> points</div>
		<div id='bar'></div>
		<div id='options'>
			<div class='button' id='play-again'>play again</div>
		</div>
	</div>
</div>