<div id='main-menu'>
	<div id='menu-bg'></div>
	<div id='menu-content'>
		<div id='title'>RACER</div>
		<div id='bar'></div>
		<div id='options'>
			<div class='button' id='start'>START</div>
			<div class='button' id='how-to'>INSTRUCTIONS</div>
		</div>
	</div>
</div>